.about-container {
    max-width: 500px;
    border-style: solid;
    border-color: #4a0dbc; 
    border-radius: 15px; 
    box-shadow: 0 4px 10px #4a0dbc; 
    padding: 20px; 
    margin-left: 25px;
    margin-right: 25px; 
    margin-top: 80px; 
}